  /* Set the width of the entire webpage */
      body {
        width: 1100px;
      }
      
      /* Style for the image container */
      .imageContainer {
        text-align: center;
      }
      
      /* Set the width of the table and table cells */
      table {
        width: 100%;
        table-layout: fixed;
      }
      
      td {
        width: 200px;
      }
      
      td.middle {
        width: 600px;
      }